.blue-bg {
	background: #162252;
	padding: 2%;
}
.rg-bar {
	padding: 0 !important;
}
.unsub{

	p {
		font-size:10px;
		font-weight:400;
		line-height:12px;
		color:#fff;
		text-align: center;		
	}
	a {
		color:#af9c74;
	}
}
.other-offers {
	p {
		font-size:12px;
	}
	img {
		height:266px;
		width:auto;
	}
}